html {
  scroll-behavior: smooth;
  transition: all 0.5 ease-in-out;
}
//*****************************//
//COLOR                        //
//*****************************//
$main-0: #ef2835;
$main-1: #353182;
$main-2: #efefef;
$main-3: #161616;
$main-4: #a8a7a5;

$bg-color: $main-2;
$dot-color: hsl(0, 0%, 80%);

$color: #7a7a7a;

$modal-bg: rgba(0, 0, 0, 0.7);

.white-text {
  color: $main-2;
}
//*****************************//
//END/COLOR                    //
//*****************************//

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Inconsolata|Montserrat:700|Nunito|Oswald:400,700|Raleway:400,700|Space+Mono');
//*****************************//
//TYPOGRAPHY                   //
//*****************************//

$ff-6: 'Fjalla One', sans-serif; //great

$ff-7: 'Inconsolata', monospace; //gold

* {
  box-sizing: border-box;
}

.ff-clean {
  font-family: $ff-6;
}

.ff-main {
  line-height: 172px;
  font-family: $ff-6;
}

.ff-main-sub {
  line-height: 80px;
  font-family: $ff-6;
}

.ff-sub {
  font-family: $ff-7;
}

.ff-sub-sub {
  line-height: 30px;
  font-family: $ff-7;
}

.black {
  background-color: $main-1;
}

//*****************************//
//END/TYPOGRAPHY               //
//*****************************//

//*****************************//
//VARIABLES                    //s
//*****************************//
$dot-size: 2px;
$dot-space: 22px;

$thick: 1px;
$pad: 0.5em;
$extra: calc(#{$pad} * 1.2);
//*****************************//
//VARIABLES END                //
//*****************************//

//*****************************//
//MIXINS                       //
//*****************************//

// Background
.bg-dot {
  background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}
// Background End

// Navbar

.navbar {
  background: transparent;
  position: sticky;
  top: 0;
}

a.navbar-item:hover {
  background: transparent;
}

.black {
  background-color: $main-3;
}


// Buttons
.special-btn {

  a {
    padding: $pad $extra;
    display: inline-block;
    border: $thick solid transparent;
    position: relative;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 0.07em;

    .text {
      // padding: 0 0.3em;
      font-family: proxima-nova, monospace;
      transform: translate3d(0, $pad, 0);
      display: block;
      transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }

    &:after {
      position: absolute;
      content: "";
      bottom: -$thick;
      left: $extra;
      right: $extra;
      height: $thick;
      background: $color;
      // z-index: -1;
      transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s,
        right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s,
        left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
      transform-origin: left;
    }
  }

  .line {
    position: absolute;
    background: $color;

    &.-right,
    &.-left {
      width: $thick;
      bottom: -$thick;
      top: -$thick;
      transform: scale3d(1, 0, 1);
    }

    &.-top,
    &.-bottom {
      height: $thick;
      left: -$thick;
      right: -$thick;
      transform: scale3d(0, 1, 1);
    }

    &.-right {
      right: -$thick;
      transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
      transform-origin: top;
    }

    &.-top {
      top: -$thick;
      transition: transform 0.08s linear 0.43s;
      transform-origin: left;
    }

    &.-left {
      left: -$thick;
      transition: transform 0.08s linear 0.51s;
      transform-origin: bottom;
    }

    &.-bottom {
      bottom: -$thick;
      transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
      transform-origin: right;
    }
  }

  a:hover,
  a:active {
    .text {
      transform: translate3d(0, 0, 0);
      transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }

    &:after {
      transform: scale3d(0, 1, 1);
      right: -$thick;
      left: -$thick;
      transform-origin: right;
      transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s,
        right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
    }

    .line {
      transform: scale3d(1, 1, 1);

      &.-right {
        transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
        transform-origin: bottom;
      }

      &.-top {
        transition: transform 0.08s linear 0.4s;
        transform-origin: right;
      }

      &.-left {
        transition: transform 0.08s linear 0.48s;
        transform-origin: top;
      }

      &.-bottom {
        transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
        transform-origin: left;
      }
    }
  }
}
// Button End

// Display Functions
.trans {
  background: transparent;
}

.spacer-small {
  height: 80px;
}

.spacer-mid {
  height: 140px;
}

.spacer-large {
  height: 220px;
}

.font-large {
  font-size: 100px;
  line-height: 110px;
}

.font-mid {
  font-size: 80px;
  line-height: 100px;
}
// Display Functions End

// Modal styles
.bg-modal {
  position: absolute;
  top: 0;
  display: none;
  background: $modal-bg;
  width: 100vw;
  height: 100vh;
  justify-content: center;
	align-items: center;
  z-index: 1000;
  position: fixed;
  transition: all 0.5s ease-in-out;
}

.modal-content {
  height: 800px;
	width: 500px;
	background-color: white;
	padding: 20px;
	position: relative;
  border-radius: 4px;
  z-index: 1001;
}

.close {
  position: absolute;
	top: 0;
	right: 10px;
  font-size: 32px;
  padding: .5em;
  cursor: pointer;
	&:hover {
		color: #666;
	}
}
