//*****************************//
//COLOR                        //
//*****************************//
$main-0: #ef2835;
$main-1: #353182;
$main-2: #efefef;
$main-3: #161616;
$main-4: #a8a7a5;

$bg-color: $main-2;
$dot-color: hsl(0, 0%, 80%);

$color: #7a7a7a;

$modal-bg: rgba(0, 0, 0, 0.7);

//*****************************//
//END/COLOR                    //
//*****************************//

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Inconsolata|Montserrat:700|Nunito|Oswald:400,700|Raleway:400,700|Space+Mono');
//*****************************//
//TYPOGRAPHY                   //
//*****************************//

$ff-6: 'Fjalla One', sans-serif; //great

$ff-7: 'Inconsolata', monospace; //gold

//*****************************//
//END/TYPOGRAPHY               //
//*****************************//

//*****************************//
//VARIABLES                    //s
//*****************************//
$dot-size: 2px;
$dot-space: 22px;

$thick: 1px;
$pad: 0.5em;
$extra: calc(#{$pad} * 1.2);
//*****************************//
//VARIABLES END                //
//*****************************//

//*****************************//
//MIXINS                       //
//*****************************//

// Background
.bg-dot {
  background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}
// Background End
