//COLOR

.white-text {
    color: $main-2;
  }

//TYPOGRAPHY

.ff-clean {
    font-family: $ff-6;
}

.ff-main {
    line-height: 172px;
    font-family: $ff-6;
}

.ff-main-sub {
    line-height: 80px;
    font-family: $ff-6;
}

.ff-sub {
    font-family: $ff-7;
}

.ff-sub-sub {
    line-height: 30px;
    font-family: $ff-7;
}

.black {
    background-color: $main-1;
}