// Display Functions
.trans {
    background: transparent;
  }
  
  .spacer-small {
    height: 80px;
  }
  
  .spacer-mid {
    height: 140px;
  }
  
  .spacer-large {
    height: 220px;
  }
  
  .font-large {
    font-size: 100px;
    line-height: 110px;
  }
  
  .font-mid {
    font-size: 80px;
    line-height: 100px;
  }
  // Display Functions End